<!--Header-->

<header>
  <app-header></app-header>
</header>
<!-- /Header -->

<section class="page-header aboutus_page">
  <div class="container">
    <div class="page-header_wrap">
      <div class="page-heading">
        <h1>About Us</h1>
      </div>
      <ul class="coustom-breadcrumb">
        <li><a routerLink="">Home</a></li>
        <li>About Us</li>
      </ul>
    </div>
  </div>
  <!-- Dark Overlay-->
  <div class="dark-overlay"></div>
</section>
<section class="about_us section-padding">
  <div class="container">
    <div class="section-header text-center">
      <h2 style="color: brown;">About Us</h2>
      <p>We offer a varied house in good condition, ranging from the compact. All our houses are in good condition, power
        electricity,and water services. All our houses are rent to those who are willing to rent  and have worth to pay it.
        Lift House are available in every booking class. As we are not affiliated with any specific customer, we
        are able to provide a variety of house makes and models for customers to rent.</p>
    </div>
  </div>
</section>
<!-- /About-us-->

<!--Footer -->
<app-footer></app-footer>
<!-- /Footer-->

<!--Back to top-->
<div id="back-top" class="back-top"> <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i> </a> </div>
<!--/Back to top-->