<div class="ts-main-content">

    <div class="content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">

                    <h2 class="page-title">HOUSE</h2>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Add House</div>
                                <div class="panel-body">

                                    <app-card>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 100%;" appearance="outline">
                                                    <mat-label>House Title</mat-label>
                                                    <input matInput placeholder="Title" >
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 100%;" appearance="outline">
                                                    <mat-label>Type</mat-label>
                                                    <input matInput placeholder="type" >
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 100%;" appearance="outline">
                                                    <mat-label>Size</mat-label>
                                                    <input matInput placeholder="size" >
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 100%;" appearance="outline">
                                                    <mat-label>Bedrooms</mat-label>
                                                    <input matInput placeholder="Bedrooms" >
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 100%;" appearance="outline">
                                                    <mat-label>Bathrooms</mat-label>
                                                    <input matInput placeholder="bathrooms" >
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 100%;" appearance="outline">
                                                    <mat-label>Address</mat-label>
                                                    <input matInput placeholder="address" >
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 100%;" appearance="outline">
                                                    <mat-label>Latitude</mat-label>
                                                    <input matInput placeholder="latitude" >
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 100%;" appearance="outline">
                                                    <mat-label>Longitude</mat-label>
                                                    <input matInput placeholder="longitude" >
                                                </mat-form-field>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 100%;" appearance="outline">
                                                    <mat-label>Color</mat-label>
                                                    <input matInput placeholder="bathrooms" >
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 100%;" appearance="outline">
                                                    <mat-label>Other Details</mat-label>
                                                    <input matInput placeholder="otherDetails" >
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 100%;" appearance="outline">
                                                    <mat-label>Latitude</mat-label>
                                                    <input matInput placeholder="latitude" >
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field style="width: 100%;" appearance="outline">
                                                    <mat-label>Longitude</mat-label>
                                                    <input matInput placeholder="longitude" >
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <mat-form-field style="width: 100%;" appearance="outline">
                                                    <mat-label>House Description</mat-label>
                                                    <textarea matInput placeholder="Ex. How it look like..."></textarea>
                                                  </mat-form-field>
                                            </div>
                                        </div>
                                    </app-card>

                                </div>
                            </div>
                        </div>

               
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
