<header>
  <app-header></app-header>

</header>

<section class="page-header listing_page">
  <div class="container">
    <div class="page-header_wrap">
      <div class="page-heading">
        <h1>House Listing</h1>
      </div>
      <ul class="coustom-breadcrumb">
        <li><a routerLink="">Home</a></li>
        <li>House Listing</li>
      </ul>
    </div>
  </div>
  <!-- Dark Overlay-->
  <div class="dark-overlay"></div>
</section>
<section class="listing-page">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-push-3">
        <div class="result-sorting-wrapper">
          <div class="sorting-count">
            <p><span>{{houseNumber}} House Available</span></p>
          </div>
        </div>
        <div class="product-listing-m" *ngFor="let house of houses">
          <div class="product-listing-img">
            <a style="cursor: pointer;">
              <img src="{{displayImage(house.imageUrl)}}" class="img-responsive">
            </a>
          </div>
          <div class="product-listing-content">
            <h5><a style="cursor: pointer;">{{house.house_id.title}}</a></h5>
            <p class="list-price"> <span *ngFor="let price of priceInfo">

                <span *ngIf="price.house.house_id==house.house_id.house_id">
                  {{price.renting_price | number }} tzs
                </span>
              </span>
            </p>
            <ul>
              <li><i class="fa fa-user" aria-hidden="true"></i>{{house.house_id.bedrooms}}</li>
              <li>
                <i class="fa fa-calendar" aria-hidden="true"></i>{{house.house_id.color}}
              </li>
              <li><i class="fa fa-home" aria-hidden="true"></i>{{house.house_id.type}}</li>
            </ul>
            <p class="list-price">{{house.region_name + "," + house.district_name}}</p>
            <span *ngIf="check_data_exist">
              <a style="cursor: pointer;" class="btn" (click)="onView(house)">View Details
                <span class="angle_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
            </span>
            <span *ngIf="!check_data_exist">
              <span *ngFor="let booked of house_booking_data">
                <button disabled class="btn btn danger" *ngIf="booked.house.house_id == house.house_id.house_id">THIS
                  HOUSE IS ALLREADY BOOKED , YOU CANT BOOK IT</button>
                <a style="cursor: pointer;" class="btn" (click)="onView(house)"
                  *ngIf="booked.house.house_id != house.house_id.house_id">View Details
                  <span class="angle_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
              </span>
            </span>
          </div>
        </div>

      </div>

      <aside class="col-md-3 col-md-pull-9">
        <div class="sidebar_widget">
          <div class="widget_heading">
            <h5>
              <i class="fa fa-filter" aria-hidden="true"></i> Find Your House
            </h5>
          </div>
          <div class="sidebar_filter">
            <form >
              <div class="form-group select">
                <select class="form-control" >
                  <option>Select House Type</option>
                  <option value="master">Master Room</option>
                  <option value="universal">Universal Room</option>
                  <option value="normal">Normal Room</option>
                </select>
              </div>
              <div class="form-group select">
                <select class="form-control" name="brand" (change)="onRegionChange($event)">
                  <option>Select By Region</option>
                  <option *ngFor="let region of regions" [value]="region.value">{{region.viewValue}}</option>
                </select>
              </div>
           

              <div class="form-group">
                <button type="submit" class="btn btn-block" (click)="searchCar()">
                  <i class="fa fa-search" aria-hidden="true"></i> Search Car
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="sidebar_widget">
          <div class="widget_heading">
            <h5>
              <i class="fa fa-home" aria-hidden="true"></i> Recently Listed Houses
            </h5>
          </div>
          <div class="recent_addedcars" *ngFor="let recent of recentHouses">
            <ul>
              <li class="">
                <div class="recent_post_img">
                  <a style="cursor: pointer;">
                    <img src="{{displayImage(recent.imageUrl)}}" alt="image"></a>
                </div>
                <div class="recent_post_title">
                  <a style="cursor: pointer;">{{recent.house_id.title}}</a>
                  <p> {{recent.house_id.type}}</p>
                  <p> Rooms : {{recent.house_id.bedrooms}}</p>
                  <p class="widget_price"> Price :
                    <span *ngFor="let price of priceInfo">
                      <span *ngIf="price.house.house_id==recent.house_id.house_id">
                        {{price.renting_price | number }} tzs
                      </span>
                    </span>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>

<!--Footer -->
<app-footer></app-footer>
<!-- /Footer-->

<!--Back to top-->
<div id="back-top" class="back-top"> <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i> </a> </div>
<!--/Back to top-->