
  
    <!--Header-->
  
    <header>

      <app-header></app-header>
      <!-- Navigation -->
      <nav id="navigation_bar" class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          </div>
          <div class="header_wrap">
            <div class="user_login">
              <ul>
                <select class="form-control">
                  <option value="" selected class="form-control">Rashid</option>
                  <option value="">Profile Settings</option>
                  <option value="">Update Password</option>
                  <option value="">My Booking</option>
                  <option value="">Sign Out</option>
                </select>
                <!-- <li class="dropdown">
                   <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true"></i>
                    Rashid
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Profile Settings</a></li>
                    <li><a href="#">Update Password</a></li>
                    <li><a href="#">My Booking</a></li>
                    <li><a href="#">Sign Out</a></li>
                  </ul>
                </li> -->
              </ul>
            </div>
            <div class="header_search">
              <div id="search_toggle"><i class="fa fa-search" aria-hidden="true"></i></div>
              <form action="#" method="post" id="header-search-form">
                <input type="text" placeholder="Search..." name="searchdata" class="form-control" required="true">
                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
              </form>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav">
              <li><a routerLink="">Home</a> </li>
  
              <li><a routerLink="about-us">About Us</a></li>
              <li><a routerLink="house-listing">House Listing</a>
              <li><a routerLink="contact-us">Contact Us</a></li>
  
            </ul>
          </div>
        </div>
      </nav>
      <!-- Navigation end -->
  
    </header>
    <!-- /Header -->
  
    <!-- Banners -->
    <section id="banner" class="banner-section">
      <div class="container">
        <div class="div_zindex">
          <div class="row">
            <div class="col-md-5 col-md-push-7">
              <div class="banner_content">
                <h1>&nbsp;</h1>
                <p>&nbsp; </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Banners -->
  
  
    <!-- Resent Cat-->
    <section >
      <div class="container">
        <div class="section-header text-center">
          <h2>Find the Best <span>House For You</span></h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
        </div>
        <div class="row">
  
          <!-- Nav tabs -->
          <div class="recent-tab">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#resentnewcar" role="tab" data-toggle="tab">New Houses</a></li>
            </ul>
          </div>
          <!-- Recently Listed New Cars -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="resentnewcar">
  
  
              <div class="col-list-3" *ngFor="let house of houses">
                <div class="recent-car-list">
                  <div class="car-info-box"> <a href="#"><img src="{{displayImage(house.imageUrl)}}" class="img-responsive" alt="image"></a>
                    <ul>
                      <li><i class="fa fa-car" aria-hidden="true"></i>{{house.house_id.type}} </li>
                      <li><i class="fa fa-calendar" aria-hidden="true"></i>{{house.house_id.address}}</li>
                      <li><i class="fa fa-user" aria-hidden="true"></i> Rooms : {{house.house_id.bedrooms}}</li>
                    </ul>
                  </div>
                  <div class="car-title-m">
                    <h6><a href="#"> {{house.house_id.title}}</a></h6>
                    <span class="price" *ngFor="let price of prices">
                      <span *ngIf="price.house.house_id==house.house_id.house_id">
                        {{price.renting_price}} /=
                      </span>
                     </span>
                  </div>
                  <div class="inventory_info_m">
                    <p>{{house.house_id.description}}</p>
                  </div>
                </div>
              </div>

  
            </div>
          </div>
        </div>
      </div>
    </section>
    <br>
    <!-- /Resent Cat -->
  
    <!-- Fun Facts-->
    <section class="fun-facts-section">
      <div class="container div_zindex">
        <div class="row">
          <div class="col-lg-3 col-xs-6 col-sm-3">
            <div class="fun-facts-m">
              <div class="cell">
                <h2><i class="fa fa-bar-chart" aria-hidden="true"></i>40+</h2>
                <p>Nyumba Ngapi </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6 col-sm-3">
            <div class="fun-facts-m">
              <div class="cell">
                <h2><i class="fa fa-bank" aria-hidden="true"></i>1200+</h2>
                <p>Zilizokodishwa</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6 col-sm-3">
            <div class="fun-facts-m">
              <div class="cell">
                <h2><i class="fa fa-home" aria-hidden="true"></i>1000+</h2>
                <p>Zilizobaki</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6 col-sm-3">
            <div class="fun-facts-m">
              <div class="cell">
                <h2><i class="fa fa-user-circle-o" aria-hidden="true"></i>600+</h2>
                <p>Wateja Wangapi</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Dark Overlay-->
      <div class="dark-overlay"></div>
    </section>
    <!-- /Fun Facts-->
  
  
  
    <!--Footer -->
    <footer>
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-md-6">
              <h6>About Us</h6>
              <ul>
  
  
                <li><a href="page.php?type=aboutus">About Us</a></li>
                <li><a href="admin/">Admin Login</a></li>
              </ul>
            </div>
  
            <div class="col-md-3 col-sm-6">
              <h6>Subscribe Newsletter</h6>
              <div class="newsletter-form">
                <form method="post">
                  <div class="form-group">
                    <input type="email" name="subscriberemail" class="form-control newsletter-input" required placeholder="Enter Email Address" />
                  </div>
                  <button type="submit" name="emailsubscibe" class="btn btn-block">Subscribe <span class="angle_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                </form>
                <p class="subscribed-text">*We send great deals and latest auto news to our subscribed users very week.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-push-6 text-right">
              <div class="footer_widget">
                <p>Connect with Us:</p>
                <ul>
                  <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-md-pull-6">
              <p class="copy-right">Copyright &copy;Projec tdone by Munira under the Supervision of Dr Khamis of (SUZA)</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer-->
  
    <!--Back to top-->
    <div id="back-top" class="back-top"> <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i> </a> </div>
    <!--/Back to top-->
  
    