<div class="ts-main-content">
    <div class="content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">

                 

                    <app-card title="HOUSE">
                        <div class="card-action">
                            <button mat-raised-button color="primary" (click)="onBack()">Back</button>
                        </div><br>
                        <div class="row">
                          
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    
                                    <div class="panel-heading">House information</div>
    
                                    <form method="post" class="form-horizontal" enctype="multipart/form-data">
                                        <br><br>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">House Title<span
                                                    style="color:red">*</span></label>
                                            <div class="col-sm-4" *ngIf="houses">
                                                <input  class="form-control"
                                                    value="{{houses.house_id.title}}" readOnly>
                                            </div>
                                            <label class="col-sm-2 control-label">House Type<span
                                                    style="color:red">*</span></label>
                                            <div class="col-sm-4">
                                                <input  class="form-control"
                                                    value="{{houses.house_id.type}}" readonly>
                                            </div>
                                        </div>
    
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">House size<span
                                                    style="color:red">*</span></label>
                                            <div class="col-sm-4" *ngIf="houses">
                                                <input class="form-control"
                                                    value="{{houses.house_id.size}}" readOnly>
                                            </div>
                                            <label class="col-sm-2 control-label">Bedrooms
                                                <span
                                                    style="color:red">*</span>
                                                </label>
                                            <div class="col-sm-4" *ngIf="houses">
                                                <input  class="form-control" 
                                                    value="{{houses.house_id.bedrooms}}" readonly>
                                            </div>
                                        </div>
    
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Bathrooms<span
                                                    style="color:red">*</span></label>
                                            <div class="col-sm-4" *ngIf="houses">
                                                <input  class="form-control"
                                                    value="{{houses.house_id.bathrooms}}" readOnly>
                                            </div>
                                            <label class="col-sm-2 control-label">Color<span
                                                    style="color:red">*</span></label>
                                            <div class="col-sm-4" *ngIf="houses">
                                                <input class="form-control"
                                                    value="{{houses.house_id.color}}" readonly>
                                            </div>
                                        </div>
    
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">Region<span
                                                    style="color:red">*</span></label>
                                            <div class="col-sm-3" *ngIf="houses">
                                                <input  class="form-control"
                                                    value="{{houses.region_name}}" readOnly>
                                            </div>
                                            <label class="col-sm-1 control-label">District<span
                                                    style="color:red">*</span></label>
                                            <div class="col-sm-3" *ngIf="houses">
                                                <input  class="form-control"
                                                    value="{{houses.district_name}}" readonly>
                                            </div>
    
                                            <label class="col-sm-1 control-label">Street<span
                                                    style="color:red">*</span></label>
                                            <div class="col-sm-3" *ngIf="houses">
                                                <input  class="form-control"
                                                    value="{{houses.house_id.address}}" readonly>
                                            </div>
                                        </div>
    
                                        <div class="hr-dashed"></div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-1 control-label">Description<span
                                                        style="color:red">*</span></label>
                                                <div class="col-sm-4" *ngIf="houses">
                                                    <textarea class="form-control"  rows="3"
                                                        readonly>{{houses.house_id.description}}</textarea>
                                                </div>
    
    
                                                <label class="col-sm-1 control-label">Other Details<span
                                                        style="color:red">*</span></label>
                                                <div class="col-sm-5" *ngIf="houses">
                                                    <textarea class="form-control"  rows="3"
                                                        readonly>{{houses.house_id.otherDetails}}</textarea>
                                                </div>
                                            </div>
                                        </div>
    
    
                                        <div class="hr-dashed"></div>
                                        <div class="form-group">
    
                                        </div>
    
    
                                        <div class="form-group">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-6">
                                                <img [src]="imageSource1" alt="Image Source" width="70%" height="70%"
                                                    style="border:solid 1px #000">
                                            </div>
                                            <div class="col-md-3"></div>
    
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </app-card>
                 
       
                                    