
  
    <!--Header-->
  
    <header>
        <div class="default-header">
          <div class="container">
            <div class="row">
              <div class="col-sm-3 col-md-2">
                <marquee behavior="scroll" direction="right">  <h3 style="color:rgb(120, 120, 175);">House Rental Portal</h3></marquee>
              </div>
              <div class="col-sm-9 col-md-10">
                <div class="header_info">
    
                  <div class="header_widgets">
                    <div class="circle_icon"> <i class="fa fa-envelope" aria-hidden="true"></i> </div>
                    <p class="uppercase_text">For Support Mail us : </p>
                    <a href="">munira123@gmail.com</a>
                  </div>
                  <div class="header_widgets">
                    <div class="circle_icon"> <i class="fa fa-phone" aria-hidden="true"></i> </div>
                    <p class="uppercase_text">Service Helpline Call Us: </p>
                    <a href="tel:98765436543654">0774321900</a>
                  </div>
                  <div class="social-follow">
    
                  </div>
    
                  <div class="login_btn"> <a href="#loginform" class="btn btn-success uppercase" data-toggle="modal" data-dismiss="modal">Login / Register</a> </div>
                  Welcome To House Rental
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Navigation -->
        <nav id="navigation_bar" class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="header_wrap">
              <div class="user_login">
                <ul>
                  <li class="dropdown"> <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true"></i>
                      Rashid
                      <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Profile Settings</a></li>
                      <li><a href="#">Update Password</a></li>
                      <li><a href="#">My Booking</a></li>
                      <li><a href="#">Sign Out</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="header_search">
                <div id="search_toggle"><i class="fa fa-search" aria-hidden="true"></i></div>
                <form action="#" method="post" id="header-search-form">
                  <input type="text" placeholder="Search..." name="searchdata" class="form-control" required="true">
                  <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
              </div>
            </div>
            <div class="collapse navbar-collapse" id="navigation">
              <ul class="nav navbar-nav">
                <li><a routerLink="">Home</a> </li>
    
                <li><a routerLink="about-us">About Us</a></li>
                <li><a routerLink="house-listing">House Listing</a>
                <li><a routerLink="contact-us">Contact Us</a></li>
    
              </ul>
            </div>
          </div>
        </nav>
        <!-- Navigation end -->
    
      </header>
      <!-- /Header -->

<!--Page Header-->
<section class="page-header contactus_page">
  <div class="container">
    <div class="page-header_wrap">
      <div class="page-heading">
        <h1>Contact Us</h1>
      </div>
      <ul class="coustom-breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Contact Us</li>
      </ul>
    </div>
  </div>
  <!-- Dark Overlay-->
  <div class="dark-overlay"></div>
</section>
<!-- /Page Header--> 

<!--Contact-us-->
<section class="contact_us section-padding">
  <div class="container">
    <div  class="row">
      <div class="col-md-6">
        <h3>Get in touch using the form below</h3>
        <div class="errorWrap"><strong>ERROR</strong>:ppppp </div>
        <div class="succWrap"><strong>SUCCESS</strong>:jjjjj </div>
        <div class="contact_form gray-bg">
          <form  method="post">
            <div class="form-group">
              <label class="control-label">Full Name <span>*</span></label>
              <input type="text" name="fullname" class="form-control white_bg" id="fullname" required>
            </div>
            <div class="form-group">
              <label class="control-label">Email Address <span>*</span></label>
              <input type="email" name="email" class="form-control white_bg" id="emailaddress" required>
            </div>
            <div class="form-group">
              <label class="control-label">Phone Number <span>*</span></label>
              <input type="text" name="contactno" class="form-control white_bg" id="phonenumber" required maxlength="10" pattern="[0-9]+">
            </div>
            <div class="form-group">
              <label class="control-label">Message <span>*</span></label>
              <textarea class="form-control white_bg" name="message" rows="4" required></textarea>
            </div>
            <div class="form-group">
              <button class="btn" type="submit" name="send" type="submit">Send Message <span class="angle_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Contact Info</h3>
        <div class="contact_detail">
            hlkj
          <ul>
            <li>
              <div class="icon_wrap"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
              <div class="contact_info_m">kvghgp</div>
            </li>
            <li>
              <div class="icon_wrap"><i class="fa fa-phone" aria-hidden="true"></i></div>
              <div class="contact_info_m"><a href="tel:61-1234-567-90">gfdjflkd</a></div>
            </li>
            <li>
              <div class="icon_wrap"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
              <div class="contact_info_m"><a href="mailto:contact@exampleurl.com">gggggggg</a></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Contact-us--> 


<!--Footer -->

<!-- /Footer--> 

<!--Back to top-->
<div id="back-top" class="back-top"> <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i> </a> </div>
<!--/Back to top--> 


